body {
    font-weight: 400;
}

/* Custom Button */
.xs-custom-button .xs-custom-button-inner {
    color: #414941;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 66px;
    max-width: 270px;
    border-radius: 100px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
}

.xs-custom-button .xs-custom-button-inner span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #131913;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.xs-custom-button .xs-custom-button-inner:hover {
    color: #c7cac7;
}

.xs-custom-button .xs-custom-button-inner:hover span {
    width: 225%;
    height: 562.5px;
}

.xs-custom-button .xs-custom-button-inner:active {
    background-color: #202920;
}

.xs-custom-button-inner:after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(https://canadianwebguru.com/wp-content/uploads/2026/02/star-black.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    right: -8px;
    transition: .3s ease-in-out;
}

.xs-custom-button .xs-custom-button-inner:hover:after {
    filter: invert(1);
}

/* Custom Button White Version */
.xs-custom-button-white .xs-custom-button-inner {
    color: #fff;
    border: 1px solid currentColor;
}

/* Custom Heading Title */
.xs-custom-title .et_pb_text_inner strong {
    font-family: "Playfair Display", serif;
    font-weight: 400 !important;
    font-style: italic;
}